@import '../../color.scss';
@import '../../font.scss';

.root-container {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $white;
    overflow-x: hidden;
    font-family: "unbounded-bold";
}

.btn-box {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
}

.main-btn-txt {
    font-size: 1.75rem;
}

.img-container {
    margin: 1rem auto;
}

.main-logo {
    height: 5rem;
}

.main-expl-body {
    width: 60rem;
    margin: 0 1rem 0 1rem;
}