@charset "utf-8";

@font-face {
    font-family: "unbounded-black";
    src: url("./assets/fonts/Unbounded-Black.ttf");
}

@font-face {
    font-family: "unbounded-blond";
    src: url("./assets/fonts/Unbounded-Blond.ttf");
}

@font-face {
    font-family: "unbounded-bold";
    src: url("./assets/fonts/Unbounded-Bold.ttf");
}

@font-face {
    font-family: "unbounded-light";
    src: url("./assets/fonts/Unbounded-Light.ttf");
}

@font-face {
    font-family: "unbounded-medium";
    src: url("./assets/fonts/Unbounded-Medium.ttf");
}

@font-face {
    font-family: "unbounded-regular";
    src: url("./assets/fonts/Unbounded-Regular.ttf");
}

@font-face {
    font-family: "arcade-classic";
    src: url("./assets/fonts/ARCADECLASSIC.TTF");
}